<body>

	<%yield %>

 	<!-- Page Content -->
    <div class="container">
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Bem vindo(a) ao Fast Snack!
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4></i> Entregas feitas pelo Flash</h4>
                    </div>
                    <div class="panel-body">
                        <p>Quando você pede o seu lanche pelo Fast Snack, ele chega realmente rápido pois contratamos o Flash para fazer todas as entregas. ;)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4></i> Lanches Sensacionais</h4>
                    </div>
                    <div class="panel-body">
                        <p>Nossos lanches são preparados pelos melhores chefes, você não vai se arrepender. Experimente agora!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4></i> Fácil de Usar</h4>
                    </div>
                    <div class="panel-body">
                        <p>Preparamos para você um sistema descomplicado, incrivelmente fácil de usar, em poucos passos você pede o seu lanche e recebe aonde você estiver, com conforto e rapidez. Faça um teste, da próxima vez que for pedir um lanche, use o Fast Snack.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Fast Snack</h2>
            </div>
            <div class="col-md-6">
                <p>O sistema Fast Snack te permite:</p>
                <ul>
                    <li>Escolher entre uma seleção de lanches deliciosos, preparados pelos melhores</li>
                    <li>Realizar seu pedido em apenas alguns segundos</li>
                    <li>Receber seu lanche onde você desejar, sem custo adicional</li>
                    <li>E tudo isso por um preço baixinho</li>
                </ul>
                <p>Com o Fast Snack você escolhe o seu lanche e recebe rapidinho. Por que não experimenta agora?</p>
            </div>
            <div class="col-md-6">
                <%= image_tag 'logo.jpg', class: "img-responsive" %>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->   
</body>
