 <title>Fast Snack - Sobre Nós</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrapRound.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/round-about.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Sobre Nós
                    <small>É muito legal ter você aqui!</small>
                </h1>
                <p>Nós desenvolvemos o Fast Snack para lhe entregar lanches deliciosos, com rapidez e no conforto da sua casa ou trabalho, de fato, onde você quiser receber. Tá com fome? Peça um Fast Snack ;)</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Nosso Time</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <%= image_tag 'heloFoto.png', class: "img-circle img-responsive img-center" %>
                <h3>Heloina Pereira
                    <small>Desenvolvedora</small>
                </h3>
                <p>Heloina é criativa e espirituosa e o Fast Snack é o seu bebê. Quer conhecê-la melhor? Ela está em todas as redes sociais, procura ela lá.</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <%= image_tag 'sandyFoto.png', class: "img-circle img-responsive img-center" %>
                <h3>Sandy Diamantino
                    <small>Desenvolvedora</small>
                </h3>
                <p>Sandy é nerd de carteirinha e adora lanches rápidos, uma baita motivação para embarcar nessa aventura com Heloina e fazer do Fast Snack a sensação do momento.</p>
            </div>
            
    </div>
    <!-- /.container -->
</body>

</html>

